{% extends 'base.html' %}     

{% block content %}
    <header class="text-center py-4 bg-primary text-white">
        <h1>Bem-vindo à Omega Cursos</h1>
    </header>

    <main class="hero text-center py-5">
        <img src="templates/assets/img/omega-cursos.png" alt="Foto ilustrativa de cursos" class="img-fluid rounded mb-4">
        <div class="description">
            <p>
                <strong>Omega Cursos</strong> é a sua plataforma online gratuita para aprender algo novo e expandir seus horizontes! 
                Oferecemos uma variedade de cursos incríveis, como Libras, Desenvolvimento Web, Escultura e muito mais. 
                Tudo o que você precisa fazer é criar uma conta e começar a explorar o conhecimento sem custos.
            </p>
            <p>
                Nosso objetivo é democratizar o acesso à educação e criar uma comunidade de aprendizado para todos. 
                Então, o que você está esperando? Inscreva-se agora e transforme seu futuro!
            </p>
        </div>
    </main>
{% endblock %}
